@use "variables";
@use "functions";
@use "mixins";

.search__container {
  width: 50%;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
}

@media screen and (max-width: 480px) {
  .search__container {
    width: 100%;
  }
}

.spinner__container {
  padding-top: 150px;
}

.welcome {
  &__container {
    margin: 0 auto;
    opacity: 70%;
    width: 300px;
  }

  &__message {
    font-family: sans-serif;
    font-size: functions.torem(16);
    font-weight: 600;
    text-align: center;
  }
}

.github-logo {
  @include mixins.background-default();
  background-image: url("../../../assets/github-mark.png");
  height: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}
