<div class="search__container">
  <app-search (search)="searchLogin($event)"></app-search>
</div>
<ng-container *ngIf="isFirstSession; else showResultsTpl">
  <div class="welcome__container">
    <div class="github-logo"></div>
    <div class="welcome__message">
      <span>Please, use the search box in order to find GitHub users by </span>
      <span class="font__mono highlight">login</span>
      <span> field</span>
    </div>
  </div>
</ng-container>
<ng-template #showResultsTpl>
  <ng-container *ngIf="isNewSearch; else elseTemplate">
    <div class="spinner__container">
      <nz-spin nzTip="Searching..."> </nz-spin>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <app-results
      [userResultList]="userResultList"
      [paginationEnabled]="paginationEnabled"
      [currentPage$]="currentPage$"
      [totalPages]="totalPages"
      [isLoading$]="isLoading$"
      (goToPage)="goToLink($event)"
    >
    </app-results>
  </ng-template>
</ng-template>
