<div class="search--container">
  <app-search (search)="searchLogin($event)"></app-search>
</div>
<div *ngIf="isFirstSession">
  <div class="welcome--container">
    <div class="github-logo"></div>
    <div class="welcome--message">
      <span>Please, use the search box in order to find GitHub users by </span>
      <span class="font--mono highlight">login</span>
      <span> field</span>
    </div>
  </div>
</div>
<div class="spinner--container" *ngIf="isNewSearch">
  <nz-spin nzTip="Searching..."> </nz-spin>
</div>
<div [ngClass]="{ 'results--container__disabled': isNewSearch }">
  <app-results
    [userResultList]="userResultList"
    [paginationEnabled]="paginationEnabled"
    [currentPage$]="currentPage$"
    [totalPages]="totalPages"
    [isLoading$]="isLoading$"
    (goToPage)="goToLink($event)"
  >
  </app-results>
</div>
