<nz-button-group>
  <button nz-button nzType="primary">
    <span nz-icon nzType="double-left"></span>
    First
  </button>
  <button nz-button nzType="primary">
    <span nz-icon nzType="left"></span>
  </button>
  <button nz-button nzType="default">
    <span>Page&nbsp;</span>
    <span>1</span>
    <span>&nbsp;of&nbsp;</span>
    <span>10</span>
  </button>
  <button nz-button nzType="primary">
    <span nz-icon nzType="right"></span>
  </button>
  <button nz-button nzType="primary">
    Last
    <span nz-icon nzType="double-right"></span>
  </button>
</nz-button-group>
