<nz-button-group>
  <button nz-button nzType="primary" (click)="goTo(LinksRelations.FIRST)" [disabled]="isFirstPage">
    <span nz-icon nzType="double-left"></span>
    First
  </button>
  <button nz-button nzType="primary" (click)="goTo(LinksRelations.PREV)" [disabled]="isFirstPage">
    <span nz-icon nzType="left"></span>
  </button>
  <button class="page-count" nz-button nzType="default">
    <span>Page&nbsp;</span>
    <span>{{ currentPage }}</span>
    <ng-container *ngIf="lastPageIndex">
      <span>&nbsp;of&nbsp;</span>
      <span>{{ lastPageIndex }}</span>
    </ng-container>
  </button>
  <button nz-button nzType="primary" [disabled]="isLastPage" (click)="goTo(LinksRelations.NEXT)">
    <span nz-icon nzType="right"></span>
  </button>
  <button nz-button nzType="primary" type="button" (click)="goTo(LinksRelations.LAST)" disabled="{{ isLastPage }}">
    Last
    <span nz-icon nzType="double-right"></span>
  </button>
</nz-button-group>
